@use "../mixins/layout.scss" as *;


.header__wrap { @include container; }

// .header__wrap {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 20px;
// }

// .navigation {
//   display: flex;
//   gap: 30px;
//   margin: 0 auto;
// }

// .header__actions {
//   display: flex;
//   gap: 15px;
// }
