@use "../mixins/layout.scss" as *;
@use "../mixins/media.scss" as *;

.header__wrap {
  @include container;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.header__button--hidden {
  display: none;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__burger {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.search__input {
  width: 100%;
  height: 38px;
  border: 2px solid #e5e5e5;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #858585;
  padding-left: 44px;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.search__field {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.search__icon {
  position: absolute;
  left: 13px;
  top: 30%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
}

/* =========================
   THEME TOGGLE
   ========================= */
.theme-toggle {
  position: relative;
  border: 0;
  border-radius: 999px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  cursor: pointer;
}

.theme-toggle::before {
  content: "";
  position: absolute;
  left: -16px;
  z-index: 2;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #888888;
}

.theme-toggle__icon {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}

.theme-toggle__svg {
  display: block;
}

.theme-toggle.is-light::before {
  transform: translateX(100%);
}

/* =========================
   HERO text switch
   ========================= */
.hero__text--desktop {
  display: none;
}

/* =========================
   HERO
   ========================= */
.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 107%;
  letter-spacing: 0.04em;
  color: #000;
  margin-bottom: 15px;
}

.hero__title span {
  color: #f14a16;
}

.hero__text {
  font-size: 13px;
  line-height: 156%;
  letter-spacing: 0.02em;
  color: rgba(40, 40, 40, 0.56);
  padding-right: 19px;
  margin-bottom: 47px;
}

.hero__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 115px;
}

.btn--primary {
  width: 160px;
  background: #f14a16;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 13px 0;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
}

.btn--secondary {
  width: 160px;
  background: #fafafa;
  border: 3px solid #f14a16;
  border-radius: 20px;
  padding: 13px 0;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.04em;
  color: #f14a16;
  text-decoration: none;
  text-align: center;
}

.btn--with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn__icon {
  width: 18px;
  margin-right: 7px;
}

/* =========================
   OFFERS
   ========================= */
.hero__offers {
  display: flex;
  gap: 20px;
}

.offer-card {
  position: relative;
}

.offer-card__img {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 107px;
  z-index: 2;
}

.offer-card__body {
  width: 250px;
  height: 128px;
  border-radius: 25px;
  background: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
}

.offer-card__title {
  font-size: 16px;
  color: #fff;
  margin: 64px 0 10px 10px;
}

.offer-card__price {
  font-size: 16px;
  color: #fc9918;
  margin-left: 20px;
}

.offer-card__price s {
  font-size: 12px;
  color: #fff;
}

/* =========================
   SCROLL
   ========================= */
.hero__scroll {
  margin: 18px auto 122px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .25);
  background: #fff;
  display: grid;
  place-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .18);
  cursor: pointer;
}

.hero__scroll-icon {
  width: 10px;
}

/* =========================
   NAV LINKS
   ========================= */
.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #000;
}

/* =========================
   LOGIN BUTTON
   ========================= */
.header__button-login {
  border: 2px solid #f14a16;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #f14a16;
  align-items: center;
  text-decoration: none;
  padding: 10px 23px;
}

/* =========================
   DESKTOP
   ========================= */
@include media-min(lg) {

  /* hero text switch */
  .hero__text--mobile {
    display: none;
  }

  .hero__text--desktop {
    display: block;
  }

  /* header */
  .header__burger {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 40px;
  }

  .search {
    display: none;
  }

  .header__button--hidden {
    display: inline-flex;
    align-items: center;
  }

  /* hero */
  .hero {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 60px;

    background-image: url("../images/bg-hero.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 130%;

    padding-bottom: 140px;
    margin-bottom: 120px;
  }

  .section__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
  }

  .hero__content {
    max-width: 520px;
    margin-top: 80px;
  }

  .hero__title {
    font-size: 64px;
  }

  .hero__text {
    font-size: 16px;
  }

  .hero__buttons {
    justify-content: flex-start;
    gap: 20px;
  }

  /* offers */
  .hero__offers {
    position: absolute;
    right: 60px;
    bottom: 0;
  }

  .offer-card__body {
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: linear-gradient(155deg,
        rgba(84, 40, 40, 1) 0,
        rgba(140, 42, 42, 0.49) 0.01%,
        rgba(209, 201, 201, 0.39) 100%);
  }

  /* scroll */
  .hero__scroll {
    position: absolute;
    left: 10%;
    top: 90%;
    transform: translateY(-50%);
    margin: 0;
  }
}
